body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(150, 150, 229);
  /*background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));*/
  /*background-color: transparent;*/

}
#result {
  font-size: 40px;
  margin-top: 60px;
}
.output {
  margin-top: 60px;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}
.english, .button{
  text-size-adjust: center;
  width:300px;
  height: 30px;
  border-width: auto;
  border-color: black;
  margin-top: 50px;
  
  
}